<include href="views/header.html"></include>
    <body>
        <div class="container">
            <br>
            <h1>Budget Information</h1>
            <form action="#" method="post">

                <div class="form-group">
                    <label for="baseFunds">Base Fund: <br></label>
                    <input type="number" class="form-control pl-2" id="baseFunds" name="baseFunds" value="{{ @baseFunds }}" placeholder="Enter your base fund">

                    <!--Inline error if base fund isn't entered-->
                    <div class="text-danger">
                        <check if="{{ isset(@errors['baseFunds']) }}">
                            {{ @errors['baseFunds'] }}
                        </check>
                    </div>

                </div>
                <br>

                <div class="form-group">
                    <label for="description">Description:<br></label>
                    <input type="text" class="form-control pl-2" id="description" name="description" value="{{ @description }}" placeholder="Enter a description (optional)">
                </div>
                <br>

                <div class="form-group">
                    <label for="startDate">Starting Date:<br></label>
                    <input type="number" class="form-control pl-2" id="startDate" name="startDate" placeholder="mmddyyyy" value="{{ @startDate }}">

                    <!--Inline error if start date isn't entered-->
                    <div class="text-danger">
                        <check if="{{ isset(@errors['startDate']) }}">
                            {{ @errors['startDate'] }}
                        </check>
                    </div>

                </div>

                <br>

                <div class="form-group">
                    <label for="endDate">End Date:<br></label>
                    <input type="number" class="form-control pl-2" id="endDate" name="endDate" placeholder="mmddyyyy" value="{{ @endDate }}">

                    <!--Inline error if end date isn't entered-->
                    <div class="text-danger">
                        <check if="{{ isset(@errors['endDate']) }}">
                            {{ @errors['endDate'] }}
                        </check>
                    </div>

                </div>

                <br>

                <label>Priority</label>

                <!--Displays priority choices retrieved from data-layer-->
                <repeat group="{{ @priorities }}" value="{{ @priority }}">
                    <br>
                    <check if="{{ @priority == $priorityChoice }}">
                        <true>
                            <label> <input type="radio" name="priority" value="{{ @priority }}" checked>
                                {{ ucfirst(@priority) }}
                            </label>
                        </true>
                        <false>
                            <label> <input type="radio" name="priority" value="{{ @priority }}">
                                {{ ucfirst(@priority) }}
                            </label>
                        </false>
                    </check>
                </repeat>

                <!--Inline error if no priority level is chosen-->
                <div class="text-danger">
                    <check if="{{ isset(@errors['priorityEmpty']) }}">
                        {{ @errors['priorityEmpty'] }}
                    </check>
                </div>

                <!--Inline error if spoofing is attempted-->
                <div class="text-danger">
                    <check if="{{ isset(@errors['prioritySpoof']) }}">
                        {{ @errors['prioritySpoof'] }}
                    </check>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
                <br><br>
            </form>
        </div>
    </body>
</html>