<include href="views/header.html"></include>
<body>

    <div class="container">
        <h1>Budget Information</h1>
        <form action="budgetSummary" method="post">
            <div class="form-group">
                <label for="funds">Starting Fund:<br></label>
                <input type="number" class="form-control pl-2" id="funds" name="funds">
            </div>

            <br>

            <div class="form-group">
                <label for="priority">Priority: <br></label>
                <input type="text" class="form-control pl-2" id="priority" name="priority" >
            </div>

            <br>

            <div class="form-group">
                <label for="amount">Allotted Amount: <br></label>
                <input type="number" class="form-control pl-2" id="amount" name="amount" >
            </div>

            <br>

            <label>Side Budget</label>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                <label class="form-check-label" for="exampleRadios1">
                    No
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                    Yes
                </label>
            </div>

            <br>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</body>
</html>