<include href="views/header.html"></include>
<body>

    <div class="container">
        <h1>Budget Information</h1>
        <form action="#" method="post">
            <div class="form-group">
                <label for="funds">Starting Fund:<br></label>
                <input type="text" class="form-control pl-2" id="funds" name="funds">
            </div>

            <br>

            <div class="form-group">
                <label for="priority">Priority: <br></label>
                <input type="text" class="priority" id="priority" name="priority" >
            </div>

            <br>

            <div class="form-group">
                <label for="amount">Alotted Amount: <br></label>
                <input type="text" class="amount" id="amount" name="amount" >
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</body>
</html>