<!--
    Name: Alisa Llavore, Joseph Igama
    Date: 03/23/2021
-->

<include href="views/header.html"></include>
<body>
<title>Expense Tracker | Confirm Delete</title>

<form action="#" method="post">
    <div class="container">
        <!-- Confirmation message -->
        <h1 class="text-center text-danger"><strong>Are you sure you want to delete expense with description of  "<u>{{ @expenseDescription['description'] }}</u>"?</strong></h1>
        <div class="container pt-3 pb-3 row align-self-center">
            <div class="col mb-1">
                <button type="submit" class="w-100 btn btn-lg btn-outline-dark shadow" name="delete" value="no">No, don't delete this expense.</button>
            </div>

            <div class="col mb-1">
                <button type="submit" id="removeBtn" class="w-100 btn btn-lg btn-outline-dark shadow" name="delete" value="yes">Yes, delete this expense.</button>
            </div>
        </div>
    </div>
</form>

</body>
</html>