<!--
    Name: Alisa Llavore, Joseph Igama
    Date: 03/23/2021
-->

<include href="views/header.html"></include>

<body>
    <title>Expense Tracker | Budget ({{ @budgetName }})</title>

    <div class="container">
        <!-- Modal ("addExpense") -->
        <div class="modal fade" id="addExpense">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="#" method="post">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Expense</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <!-- Price -->
                            <div class="form-group">
                                <label for="price">Price</label>
                                <input type="number" step="any" class="form-control pl-2" id="price" name="price" placeholder="$">

                                <!--Inline error if price isn't entered-->
                                <div class="text-danger">
                                    <check if="{{ isset(@errors['price']) }}">
                                        {{ @errors['price'] }}
                                    </check>
                                </div>
                            </div>

                            <!-- Description -->
                            <div class="form-group">
                                <label for="description">Description</label>
                                <input type="text" class="form-control pl-2" id="description" name="description" >
                            </div>

                            <!-- Subscription Check -->
                            <label><input type="checkbox" id="subscriptionCheck"> Subscription?</label><br>

                            <!-- subscription -->
                            <div class="form-group d-none" id="subscriptionField">
                                <p>Subscription</p>
                                <repeat group="{{ @subscriptions }}" value="{{ @subscription}}">
                                    <label class="radioFormat">
                                        <input type="radio" name="subscription" id="{{ @subscription }}" value="{{ @subscription }}"
                                        <check if="{{ @subscription == @userSubscription}}">checked</check>>

                                        {{ ucfirst(@subscription) }}
                                    </label>
                                </repeat>

                                <div class="text-danger">
                                    <check if="{{ isset(@errors['subscription']) }}">
                                        {{ @errors['subscription'] }}
                                    </check>
                                </div>
                            </div>

                            <!-- Intervals -->
                            <div class="form-group d-none" id="intervalField">
                                <label>Recurring Payment Interval</label><br>
                                <!--Displays priority choices retrieved from data-layer-->
                                <repeat group="{{ @intervals }}" value="{{ @interval }}">
                                    <check if="{{ @interval == $userInterval }}">
                                        <true>
                                            <label> <input type="radio" name="interval" value="{{ @interval }}" checked>
                                                {{ ucfirst(@interval) }}
                                            </label>
                                        </true>
                                        <false>
                                            <label> <input type="radio" name="interval" value="{{ @interval }}">
                                                {{ ucfirst(@interval) }}
                                            </label>
                                        </false>
                                    </check>
                                    <br>
                                </repeat>

                                <!--Inline error if spoofing is attempted-->
                                <div class="text-danger">
                                    <check if="{{ isset(@errors['intervalSpoof']) }}">
                                        {{ @errors['intervalSpoof'] }}
                                    </check>
                                </div>
                            </div>

                            <!-- Priority -->
                            <label>Priority</label>
                            <div class="form-group">

                                <!--Displays priority choices retrieved from data-layer-->
                                <repeat group="{{ @priorities }}" value="{{ @priority }}">
                                    <check if="{{ @priority == $priorityChoice }}">
                                        <true>
                                            <label> <input type="radio" name="priority" value="{{ @priority }}" checked>
                                                {{ ucfirst(@priority) }}
                                            </label>
                                        </true>
                                        <false>
                                            <label> <input type="radio" name="priority" value="{{ @priority }}">
                                                {{ ucfirst(@priority) }}
                                            </label>
                                        </false>
                                    </check>
                                    <br>
                                </repeat>

                                <!--Inline error if no priority level is chosen-->
                                <div class="text-danger">
                                    <check if="{{ isset(@errors['priorityEmpty']) }}">
                                        {{ @errors['priorityEmpty'] }}
                                    </check>
                                </div>

                                <!--Inline error if spoofing is attempted-->
                                <div class="text-danger">
                                    <check if="{{ isset(@errors['prioritySpoof']) }}">
                                        {{ @errors['prioritySpoof'] }}
                                    </check>
                                </div>
                            </div>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-outline-dark" name="budgetNum" value="{{ @budgetNum }}">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- The Modal ("addFunds") -->
        <div class="modal fade" id="addFunds">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="#" method="post">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Add Funds</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <!-- Price -->
                            <div class="form-group">
                                <label for="price">Amount</label>
                                <input type="number" step="any" class="form-control pl-2" name="fundAmount" placeholder="$">
                            </div>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-outline-dark" name="budgetName" value="{{ @budgetAmount['baseFunds'] }}">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- The Modal ("remove") -->
        <div class="modal fade" id="remove">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="#" method="post">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title text-center">Are you sure you want to remove this budget?</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="submit" id="removeBtn" class="btn btn-outline-dark" name="budgetDelete" value="true">Yes, delete this budget.</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center">
        <br>
        <!-- Budget Heading -->
        <h1>Viewing Budget: {{ @budgetName }}</h1>
        <h1>Budget Funds: <i>${{ @budgetAmount['baseFunds'] }}</i></h1>

        <hr>

        <!-- Expenses display -->
        <check if="empty({{ @expenses }})">
            <true>
                <h1 class="text-center">No Expenses created.<br></h1>
                <p class="text-center">Add new expense below.</p>
            </true>
            <false>
                <p class="text-center">Expense(s) for {{ @budgetName }}.</p>
                <form action="#" method="post">
                    <div class="row row-cols-1 row-cols-md-3 mb-3 justify-content-center text-center pt-3">
                        <repeat group="{{ @expenses }}" value="{{ @expense }}">
                            <div class="col-4">
                                <div class="row-4 card mb-4 shadow-sm">
                                    <div class="card-body">
                                        <p><strong>Description: </strong>{{ @expense['description'] }} </p>
                                        <p><strong>Price: </strong>${{ @expense['price'] }}</p>
                                        <p><strong>Priority: </strong>{{ @expense['priority'] }}</p>
                                        <check if="isset({{ @expense['recurring'] }})">
                                            <hr>
                                            <p><strong>Recurring Payment Interval: <br></strong>{{ @expense['recurring'] }}</p>
                                        </check>
                                        <check if="isset({{ @expense['recurring'] }})">
                                            <p><strong>Subscription: </strong>{{ @expense['subscription'] }}</p>
                                        </check>
                                        <button type="submit" id="removeBtn" class="w-100 btn-sm btn-outline-dark shadow" value="{{ @expense['expenseNum'] }}" name="expenseNum">Delete expense</button>
                                    </div>
                                </div>
                            </div>
                        </repeat>
                    </div>
                </form>
                <hr>
                <check if="{{ @budgetAmount['baseFunds'] - @expensesTotal[0]['total'] }} >= 0">
                    <true>
                        <h1 class="text-success">Balance: ${{ @budgetAmount['baseFunds'] - @expensesTotal[0]['total'] }}</h1>
                    </true>
                </check>

                <check if="{{ @budgetAmount['baseFunds'] - @expensesTotal[0]['total'] }} < 0">
                    <true>
                        <h1 class="text-danger">Balance: ${{ @budgetAmount['baseFunds'] - @expensesTotal[0]['total'] }}</h1>
                    </true>
                </check>
                <br>

            </false>
        </check>

        <!-- Buttons -->
        <form action="#" method="post">

            <div class="row align-self-center">

                <div class="col mb-1">
                    <button type="button" class="w-100 btn btn-lg btn-outline-dark shadow" data-toggle="modal" data-target="#addExpense">Create new expense</button>
                </div>

                <div class="col mb-1">
                    <button type="button" class="w-100 btn btn-lg btn-outline-dark shadow" data-toggle="modal" data-target="#addFunds">Add funds to this budget</button>
                </div>

                <div class="col mb-1">
                    <button type="submit" id="removeBtn" class="w-100 btn btn-lg btn-outline-dark shadow" name="budgetDelete" value="true">Remove budget</button>
                </div>
            </div>

        </form>


    </div>
    <br>

    <footer class="footer mt-auto pt-3 bg-light text-center">
        <div class="container d-none d-sm-block">
            <div class="row">
                <div class="col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase">About us</h5>
                    <p>Introducing <strong>404Found's</strong> expenses tracker. <br> Functional and minimal, to suit your essential budgeting needs.</p>
                </div>
            </div>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            <span class="text-muted">Created by 404Found</span>
        </div>
    </footer>

    <script src="scripts/edit.js"></script>

</body>