<!--
    Name: Alisa Llavore, Joseph Igama
    Date: 03/23/2021
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/general-styles.css">
    <!--    Link for Google Font-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500&display=swap" rel="stylesheet">    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- NAVBAR -->
    <nav class="shadow navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">

            <!-- ICON -->
            <a class="navbar-brand" href="{{ @BASE }}">
                <img src="images/credit-card-8x.png" width="30" height="30" alt="Credit card">
                Expense Tracker
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- NAVBAR BUTTONS -->
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup" style="">
                <div class="navbar-nav">
                    <check if="{{ isset(@SESSION.account) }}">
                        <true>
                            <a class="nav-item nav-link" href="login">Logout</a>
                        </true>
                        <false>
                            <a class="nav-item nav-link" href="login">Login</a>
                            <a class="nav-item nav-link" href="register">Register</a>
                        </false>
                    </check>
                </div>
            </div>
        </div>
    </nav>

    <!-- HEADER -->
    <header id="header">
        <div class="text-center py-5 ">
            <check if="{{ isset(@SESSION.account) }}">
                <true>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <h1 class="align-self-center" id="userWelcomeMessage" style="text-align: center"><strong><i>Hello, {{ ucfirst(@SESSION.account['fname']) }}!</i></strong></h1>
                    <br>
                </true>
            </check>
        </div>
    </header>
</head>