<!--
    Name: Alisa Llavore, Joseph Igama
    Date: 03/23/2021
-->

<include href="views/header.html"></include>

<body>
    <title>Expense Tracker | Home</title>
    <div class="container pt-3 pb-3">
        <check if="empty({{ @cards }})">
            <true>
                <h1 class="text-center">No budgets created. <br></h1>
                <p class="text-center">Add new budget below.</p>
            </true>
            <false>
                <h1 class="text-center">Current Budget(s)</h1>

            </false>
        </check>

        <hr>

        <!--Modals-->
        <div class="container">
            <div class="modal fade" id="addExpense">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form action="#" method="post">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Expense</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                <!-- Price -->
                                <div class="form-group">
                                    <label for="price">Price</label>
                                    <input type="number" step="any" class="form-control pl-2" id="price" name="price" placeholder="$">

                                    <!--Inline error if price isn't entered-->
                                    <div class="text-danger">
                                        <check if="{{ isset(@errors['price']) }}">
                                            {{ @errors['price'] }}
                                        </check>
                                    </div>
                                </div>

                                <!-- Password -->
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <input type="text" class="form-control pl-2" id="description" name="description" >
                                </div>

                                <!-- Priority -->
                                <label>Priority</label>
                                <div class="form-group">
                                    <!--Displays priority choices retrieved from data-layer-->
                                    <repeat group="{{ @priorities }}" value="{{ @priority }}">
                                        <check if="{{ @priority == $priorityChoice }}">
                                            <true>
                                                <label> <input type="radio" name="priority" value="{{ @priority }}" checked>
                                                    {{ ucfirst(@priority) }}
                                                </label>
                                            </true>
                                            <false>
                                                <label> <input type="radio" name="priority" value="{{ @priority }}">
                                                    {{ ucfirst(@priority) }}
                                                </label>
                                            </false>
                                        </check>
                                        <br>
                                    </repeat>

                                    <!--Inline error if no priority level is chosen-->
                                    <div class="text-danger">
                                        <check if="{{ isset(@errors['priorityEmpty']) }}">
                                            {{ @errors['priorityEmpty'] }}
                                        </check>
                                    </div>

                                    <!--Inline error if spoofing is attempted-->
                                    <div class="text-danger">
                                        <check if="{{ isset(@errors['prioritySpoof']) }}">
                                            {{ @errors['prioritySpoof'] }}
                                        </check>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-outline-dark" name="budgetNum" value="{{ @budgetNum }}">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--Modals-->

        <form action="#" method="post">
            <!--Card buttons-->
            <div class="row row-cols-1 row-cols-md-3 mb-3 justify-content-center text-center pt-3">
                <repeat group="{{ @cards }}" value="{{ @card }}">
                    <div class="col-4">
                        <div class="row-4 card mb-4 shadow-sm">
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title">{{ @card['budgetName'] }}</h1>
                                <p>Amount: $ {{ @card['baseFunds'] }}</p>
                                <button type="submit" class="w-100 btn btn-lg"
                                        href="edit" name="budgetInfo" value="{{ @card['budgetName'] }},{{ @card['budgetNum'] }}">Edit Budget</button>
                                <button type="submit" id="removeBtn" class="w-100 btn btn-lg"
                                        name="budgetName" value="{{ @card['budgetName'] }},{{ @card['budgetNum'] }}">Remove Budget</button></a>

                            </div>
                        </div>
                    </div>
                </repeat>
            </div>
            <!--Card buttons-->

            <!--Non-card buttons-->
            <div class="row align-self-center">
                <div class="col mb-1">
                    <a href="budget"><button type="button" class="w-100 btn btn-lg btn-outline-dark shadow">Add New Budget</button></a>
                </div>
            </div>
            <!--Non-card buttons-->
        </form>
    </div>

    <footer class="footer mt-auto pt-3 bg-light text-center">
        <div class="container d-none d-sm-block">
            <div class="row">
                <div class="col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase">About us</h5>
                    <p>Introducing <strong>404Found's</strong> expenses tracker. <br> Functional and minimal, to suit your essential budgeting needs.</p>
                </div>
            </div>
        </div>

        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            <span class="text-muted">Created by 404Found</span>
        </div>
    </footer>
</body>
</html>