<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Expense Tracker</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">Expense Tracker</a>
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="login">Login <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="login">Register <span class="sr-only">(current)</span></a>
        </div>
    </nav>



    <div class="container">
        <h1>Expense Tracker</h1>

        <p>This web app will help users track their spending and create “spending goals”.
            On the main page the user can either choose to manage their account or add a
            new one. Upon creating a new account they will be asked for their starting funds.
            As the user spends or adds money they will be presented with another page to enter the price,
            description and priority of the purchase. The amount of their account will appear on the main page.
            When a user creates a goal, they will also be asked when they want their goal to be achieved.
            After the information is entered our app will then generate a suggested spending amount for each day,
            and if the user follows the suggested plan they should be able to attain their goal within the time
            they specified. The user can also request a summary of how much they spent at either weekly, monthly,
            or yearly increments.</p>
    </div>
</body>
</html>