<include href="views/header.html"></include>
<div class="container pt-4">
    <h1>Register</h1><br>

    <h3>Create an Account</h3>
    <form action="#" method="post">
        <!-- Username -->
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control pl-2" id="username" name="username" value="{{ @username }}" placeholder="Enter a username">

            <!-- Inline warning -->
            <div class="text-danger">
                <check if="{{ isset(@errors['username']) }}">
                    {{ @errors['username'] }}
                </check>
            </div>
        </div>

        <!-- Email-->
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name = "email" placeholder="Enter your email" value="{{ @userEmail }}">
            <div class="text-danger">
                <check if="{{ isset(@errors['email']) }}">
                    {{ @errors['email'] }}
                </check>
            </div>
        </div>

        <!-- Password -->
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control pl-2" id="password" name="password" value="{{ @userPassword }}" placeholder="Enter a password">
            <!-- Inline warning -->
            <div class="text-danger">
                <check if="{{ isset(@errors['password']) }}">
                    {{ @errors['password'] }}
                </check>
            </div>
        </div>

        <!-- Password Confirmation-->
        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control pl-2" id="confirmPassword" name="confirmPassword" value="{{ @confirmPassword }}" placeholder="Confirm your password">
            <!-- Inline warning -->
            <div class="text-danger">
                <check if="{{ isset(@errors['confirmPassword']) }}">
                    {{ @errors['confirmPassword'] }}
                </check>
            </div>
        </div>

        <!-- Notifications -->
        <div class="form-group">
            <p><b>Notification Preference</b></p>
            <label><input type="checkbox" name="notification" <check if="{{ @userNotification=='on' }}">checked</check>> I want notifications via e-mail.</label>


            <!-- Inline warning -->
            <div class="text-danger">
                <check if="{{ isset(@errors['notification']) }}">
                    {{ @errors['notification'] }}
                </check>
            </div>

        </div>

        <!-- Situation -->
        <div class="form-group">
            <legend>Situation</legend>
            <select class="form-control" id="situation" name="situation">
                <repeat group="{{ @situations }}" value="{{ @situation }}">
                    <option value="{{ @situation }}"
                    <check if="{{ @situation == @userSituation }}">selected</check>
                    >
                    {{ ucfirst(@situation) }}
                    </option>
                </repeat>
            </select>

            <!-- Inline warning -->
            <div class="text-danger">
                <check if="{{ isset(@errors['situation']) }}">
                    {{ @errors['situation'] }}
                </check>
            </div>

        </div>

        <!-- Starting Funds -->
        <div class="form-group">
            <label for="startingFunds">Starting Funds</label>
            <input type="number" class="form-control pl-2 col-3" id="startingFunds" name="startingFunds" value="{{ @userStartingfunds }}" placeholder="Enter your starting funds">

            <!-- Inline warning -->
            <div class="text-danger">
                <check if="{{ isset(@errors['startingFunds']) }}">
                    {{ @errors['startingFunds'] }}
                </check>
            </div>
        </div>

        <h3>Personal Information</h3>

        <div class="form-group row">
            <div class="col">
                <label for="username">First name</label>
                <input type="text" class="form-control pl-2" id="fname" name="fname" value="{{ @userFname }}" placeholder="Enter your first name">
                <!-- Inline warning -->
                <div class="text-danger">
                    <check if="{{ isset(@errors['fname']) }}">
                        {{ @errors['fname'] }}
                    </check>
                </div>
            </div>
            <div class="col">
                <label for="username">Last name</label>
                <input type="text" class="form-control pl-2" id="lname" name="lname" value="{{ @userLname }}" placeholder="Enter your last name">
                <!-- Inline warning -->
                <div class="text-danger">
                    <check if="{{ isset(@errors['lname']) }}">
                        {{ @errors['lname'] }}
                    </check>
                </div>
            </div>
        </div>

        <!-- Gender -->
        <div class="form-group">
            <div class="row">

                <!-- Gender -->
                <div class="col">
                    <p>Gender</p>
                    <repeat group="{{ @genders }}" value="{{ @gender}}">
                        <label class="radioFormat">
                            <input type="radio" name="gender" id="{{ @gender }}" value="{{ @gender }}"
                            <check if="{{ @gender == @userGender}}">checked</check>>

                            {{ ucfirst(@gender) }}
                        </label>
                    </repeat>
                    <div class="text-danger">
                        <check if="{{ isset(@errors['gender']) }}">
                            {{ @errors['gender'] }}
                        </check>
                    </div>
                </div>

                <!-- Age -->
                <div class="col">
                    <label for="age">Age</label>
                    <input type="number" class="form-control pl-2 col-5" id="age" name="age" placeholder="Enter your age" value="{{ @userAge }}">
                    <div class="text-danger">
                        <check if="{{ isset(@errors['age']) }}">
                            {{ @errors['age'] }}
                        </check>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-right">
            <button type="submit" class="btn btn-outline-dark">Register</button>
        </div>
    </form>

</div>
<br><br>

<footer class="footer mt-auto pt-3 bg-light text-center">
    <!-- Grid container -->
    <div class="container d-none d-sm-block">
        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">About us</h5>
                <p>Introducing <strong>404Found's</strong> expenses tracker. <br> Functional and minimal, to suit your essential budgeting needs.</p>
            </div>
        </div>
    </div>

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <span class="text-muted">Created by 404Found</span>
    </div>
</footer>

</body>
</html>