/* General Styles */
body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-weight: 100;
}

/* Navbar Styles */
nav {
    font-weight: 400;

}

/* header styles */
header {
    height: 50vh;
}
#header {
    /*background-image: url("../images/backgroundImage.png");*/
    background-image: url("../images/greenHeader.png");
    width: 100%;
}

#userWelcomeMessage {
    font-size: 5em;
}

/* button styles */
.btn:hover {
    background-color: #ACB48E;
    color: white;
}