/* header stylings */
header {
    height: 50vh;
}
#header {
    /*background-image: url("../images/backgroundImage.png");*/
    background-image: url("../images/greenHeader.png");
    width: 100%;
}

#userWelcomeMessage {
    font-size: 5em;
}
