/* General Styles */
body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-weight: 100;
}

/* Navbar Styles */
nav {
    font-weight: 400;

}

/* header styles */
header {
    height: 50vh;
}

#header {
    /*background-image: url("../images/backgroundImage.png");*/
    background-image: url("../images/greenHeader.png");
    /*width: 90%;*/
}

#userWelcomeMessage {
    font-size: 5em;
}

#remove-btn {
    background-color: red;
    color: white;
}

/* button styles */
.btn:hover {
    background-color: #ACB48E;
    color: white;
}

#removeBtn:hover {
    background-color: indianred;
    color: white;
}

.image {
    position:relative;
    text-align:center; // doesn't work as desired :(
}

.text {
    position:absolute;
    top:30px;
}